@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin heading() {
    $j: 4;
    $multiplier: 1.22;
    @for $i from 1 through $j {
        .heading-#{$j} {
            font: calc(
                    var(--font-base) * (#{$i} * #{$multiplier})
                ) /#{$multiplier}
                var(--typo-title);
        }
        $j: $j - 1;
    }
}
@mixin gap($i, $direction: margin-left, $gap: both) {
    #{$direction}: space($i);
    @supports (gap: #{$i}) {
        #{$direction}: 0;
        @if $gap == col {
            gap-col: space($i);
        } @else if $gap == row {
            gap-row: space($i);
        } @else {
            gap: space($i);
        }
    }
}
@mixin responsive($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    } @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}
