.btn {
	@include flex(row, center, center);
	border-radius: space(1);
	padding: space(2) space(2);
	color: inherit;
}

.btn.btn-primary {
	background-color: var(--color-primary);
	color: var(--color-text-primary);
}

.btn.btn-secondary {
	background-color: var(--color-secondary);
	color: var(--color-black);
}

