.btn {
	@include flex(row, center, center);
	border-radius: space(1);
	padding: space(3) space(5);
}

.btn.btn-primary {
	background-color: var(--color-primary);
	color: var(--color-text-primary);
}

.btn.btn-secondary {
	background-color: var(--color-secondary);
	color: var(--color-black);
}

