#app {
	display: grid;
	min-height: 800px;
	height: 100vh;
	width: 100%;
	grid-template-rows: min-content auto min-content;
	grid-template-columns: 1fr;
	gap: space(4);

	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
	::-webkit-scrollbar-thumb {
		background: #181818;
		border-radius: space(2);
	}
	::-webkit-scrollbar-thumb:hover{
		background: #7a787a;
	}
	::-webkit-scrollbar-track{
		background: #252525;
		border-radius: 0px;
		box-shadow: inset 7px 10px 12px #252525;
	}
}
