@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$background-color: #181818;
$text-color: #ffffff;
$text-muted: #999999;
$font: 'Noto Sans', sans-serif;

@mixin title {
  font-size: 32px;
  color: $text-color;
}